
body {
  background: #fff;
  font-family: Inconsolata;
}

a {
  color: #0d93c5;
}

#spacer {
  background: #fff;
  position: relative;
  z-index: 500;
  height: 1em;
}

.menu-section {
  background: #fff;
  .inset {
    padding: 1.5em 1em 1.5em 0;

  }
  h2 {
    text-transform: uppercase;
    background: #fff;
    color: #666;
  }
  h3 {
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 1px;
  }

}

#menu .col-md-6 {
  &:first-child {
    h2 {
      margin-right: .75em;
    }
  }
}

.bortop {
  border-top: 2px solid #857352;
  background: #fff;
  background: linear-gradient(180deg, #f3f1ed, #fff);
}

#logo {
  width: 10em;
  padding-top: 2em;
  margin-bottom: -2em;
}

p.lead {
  font-style: italic;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.05em;
}

html {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  html {
    font-size: 1.0rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1.1rem;
  }
  .p-xl-10 {
    padding: 1em 4em !important;
  }
}

main {
  position: relative;
}

#navvy .col {
  text-align: center;
}

.nav-img {
  padding-top: 3.65em;
  margin-top: 1em;
  background-size: 3.5em;
  background-repeat: no-repeat;
  background-position: center top;
}

@keyframes lift {
  to {transform: scale(1.05);}
}

#navvy {
  a {
    display: block;
    &:hover {
      animation-name: lift;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      animation-duration: .1s;
    }
  }
  #foods {
    background-image: url("/images/menu.png");
  }

  #order {
    background-image: url("/images/brownbag.png");
  }

  #spots {
    background-image: url("/images/locations.png");
  }

  #about {
    background-image: url("/images/about.png");
  }
}

.elevate {
  position: relative;
  z-index: 500;
  background: #fff;
  border-bottom: 0;
}

.circle {
  z-index: 200;
  position: absolute;
  left: calc(50% - 8em);
  top: -13em;
  background: #fff;
  border: 2px solid #857352;
  border-radius: 50%;
  width: 16em;
  height: 16em; 
  /* width and height can be anything, as long as they're equal */
}

.bg-dark {
  background: #0d345f !important;
}

#tout {
  display:table-row;  
}

#map {
  font-size: 1.4em;
  height: 20em;
}

.col {
  display:table-cell;   
  text-align:center;  
  vertical-align:middle; 
}

@media (max-width: 468px) {
  body {
    border-top: 0;
  }
  .outline {
    border: 0;
  }
  .container {
    padding: 0;
  }
}

h1.fancy,h2.fancy{
    text-transform:uppercase;

    font-weight:400;
    letter-spacing:1.5px
}

.fancy{
    text-align:center;
    overflow:hidden
}
.fancy>span{
    display:inline-block;
    position:relative
}
.fancy>span:after,.fancy>span:before{
    content:"";
    position:absolute;
    height:2px;
    background:#85744f;
    top:50%;
    width:700px;
}
.fancy>span:before{
    right:100%;
    margin-right:1em;
    -webkit-transform-origin:right top;
    transform-origin:right top
}
.fancy>span:after{
    left:100%;
    margin-left:1em;
    -webkit-transform-origin:left top;
    transform-origin:left top
}
.text-muted {
  color: #7f7f74 !important;
}
