%br/
.justify-content-center.bortop.d-none.d-sm-flex.p-4
  = wide_layout do
    %h2.text-center.pt-2.pb-2
      %br/
      Austin-owned and -proud, from the guys who made
      %br.d-none.d-lg-block
      your favorite grab-and-go foods for over a decade.

%br/
.container
  = partial "home/menu"

